<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="actions vertical">
		<li><a href="https://www.tokopedia.com/klinicard" target="_blank" class="button special fit">Tokopedia</a></li>
		<li><a href="https://www.tokopedia.com/klinicard" target="_blank" class="button special fit">Shopee</a></li>
		<li><a href="https://wa.me/6289638191520" target="_blank" class="button fit">WhatsApp</a></li>
		<li><a href="https://www.twitter.com/klinicard" target="_blank" class="button fit">Twitter</a></li>
		<li><a href="https://www.instagram.com/klinicard" target="_blank" class="button fit">Instagram</a></li>
	</ul>
</nav>
